.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background {
  width: 380px;
  height: 850px;
  position: relative;
  background: #0000;
}

.RecipeImage {
  position: absolute;
  top: 50%; 
  left: 53%; 
  transform: translate(-50%, -50%);
  height: 456px; 
  width: 369px; 
  object-fit: cover;
  cursor:pointer;
}


.LikeButton {
  position: absolute;
  width: 95px;
  height: 95px;
  left: 285px;
  top: 680px;
  background: #00B937;
  border-radius: 50%;
  cursor:pointer;
}

.DislikeButton {
  position: absolute;
  width: 95px;
  height: 95px;
  left: 10px;
  top: 680px;
  background: #FF0006;
  border-radius: 50%;
  cursor:pointer;
}

.SkipButton {
  position: absolute;
  width: 73px;
  height: 73px;
  left: 159px;
  top: 749px;
  cursor:pointer;
  background: #FFA500;
  border-radius: 50%;
}



.PrepTime {
  position: absolute;
  width: 138px;
  height: 16px;
  left: 12px;
  top: 120.5px;
  align-self: left;
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #000000;
}

.Allergens {
  position: absolute;
  width: 138px;
  height: 16px;
  left: 232px;
  top: 145px;

  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */


  color: #000000;
}

.InfoBackground {
  width: 380px;
  height: 850px;
  position: relative;
  background: #FFFF;
}

.BackButton {
  position: absolute;
  width: 38px;
  height: 19px;
  left: 15px;
  top: calc(50% - 19px/2 - 0.5px);
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #4A76E9;
  cursor:pointer;
}


.Description {
  position: absolute;
  width: 367px;
  height: 213px;
  left: 13px;
  top: 664px;

  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.RecipeTitle {
  position: absolute;
  width: calc(340px - 15px);
  height: 36px;
  left: 15px;
  top: 50px;
  /* UI - 30 Semi */

  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: left;

  /* Black */

  color: #000000;
}

.AccountButton {
  position: absolute;
  width: 83px;
  height: 25px;
  left: 20px;
  top: 17px;
  cursor:pointer;
  border-radius: 100px;
  background: #4A76E9;
}

.AccountButtonText {
  position: absolute;
  left: 8.43%;
  right: 8.43%;
  top: -66%;

  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  color: #FFFFFF;
}

.Loading {
  position: absolute;
  left: 145px;
  top: 372px;
}

.SavedButton {
  position: absolute;
  width: 39px;
  height: 19px;
  right: 15px;
  top: 8px;
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #4A76E9;
  cursor:pointer;
}

.SavedButtonText {
  position: absolute;
  width: 50px;
  height: 23px;
  left: 2px;
  top: -15px;

  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
