.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background{
position: relative;
width: 390px;
height: 844px;
background: #0000;
}

.RecipeImage{
  position: absolute;
  width: 369px;
  height: 456px;
  left: 11px;
  top: 176px;
}

.LikeButton{
  position: absolute;
  width: 95px;
  height: 95px;
  left: 285px;
  top: 680px;
  background: #00B937;
  border-radius: 50%
}

.DislikeButton{
  position: absolute;
  width: 95px;
  height: 95px;
  left: 10px;
  top: 680px;
  background: #FF0006;
  border-radius: 50%
}

.SavedButtonShape{
  position: absolute;
  width: 60px;
  height: 25px;
  left: 0px;
  top: 0px;
  background: #4A76E9;
}